/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: rgba(125, 35, 224, 0.2);;
}

::-webkit-scrollbar-thumb {
  background: #7D23E0;
  border-radius: 20px;;
}